/*------Search------*/
#search{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
#search-input{
    width: 300px;
    height: 40px;
}
#search-glass{
    cursor: unset;
    margin-right: 20px;
    font-size: 1.4rem;
}
#search-glass:hover{
    color: unset;
}

/*------Table------*/
.glass{
    cursor: pointer;
}
.glass:hover{
    color: #e44c65;
}

/*------Input------*/
#back-button{
    font-size: 0.8rem;
    margin-top: 50px;
}

@media screen and (max-width: 480px) {
    #back-button{
        padding: 0 20px;
    }
}