#home-admin{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.icon.solid.major{
    margin-bottom: 10px;
}
.line-infos{
    text-align: center;
    width: 33%;
}
h3:hover{
    color: #e44c65;
}

/*------Responsive------*/
@media screen and (max-width: 480px) {
    #home-admin{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .line-infos{
        margin-bottom: 40px;
    }
}