p{
    margin: 0;
}

/* Infos */
#box-infos{
    margin-bottom: 50px;
}
#ref-infos, #date-infos, #status-infos{
    display: flex;
    align-items: center;
}
h3, #number-order, #date-order, #subtotal, #shipping, #total-price{
    margin: 0;
}
#number-order, #date-order, #subtotal, #shipping, #total-price{
    font-size: 1.3rem;
    color: #e44c65;
    font-weight: 500;
    margin-left: 10px;
}
#select-status{
    width: 150px;
    margin-left: 10px;
    height: 40px ;
}
#edit-status{
    font-size: 0.8rem;
    margin-left: 20px;
}

/* Table */
#file-link{
    border: none;
    color: white;
}
.fa-file{
    font-size: 1.5rem;
}

/* Price */
#box-prices{
    margin-top: 30px;
}
#box-prices div{
    display: flex;
    align-items: center;
}

/* Shipping */
#box-shipping{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
#box-shipping div{
    display: flex;
    flex-direction: column;
}
.infos-row{
    display: flex;
}

/* Button Back */
#buttons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#buttons input {
    font-size: 0.8rem;
}

/* Confirmation */
#confirmation-delete-order{
    text-align: center;
}
#yes, #no{
    font-size: 0.7rem;
    margin-left: 20px;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
