/* Form */
#form-delivery-adress, #form-billing-adress{
    width: 80%;
    display: block;
    margin: auto;
}
#form-delivery-adress input, #form-billing-adress input{
    margin-bottom: 20px;
}
#form-delivery-adress label, #form-billing-adress label{
    margin-bottom: 5px;
}
.full-row{
    display: flex;
    justify-content: space-between;
}
.half-row{
    width: 45%;
}

/* Option */
#select-box{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
}
#adress-option{
    width: 110px;
}

#box-error{
    text-align: center;
    margin: 20px 0 0 0;
    color: #e44c65;
}

#button-adress{
    display: block;
    margin: auto;
    margin-top: 20px;
}
#cancel-box{
    width: 80%;
    display: block;
    margin: auto;
}
#cancel-button{
    font-size: 0.8rem;
    margin-top: 30px;
}

/* Errors input */
.empty{
    border-color: #e44c65!important;
}
.full{
    border-color: unset;
}