footer{
    margin-top: 200px;
}

/*------Form inputs------*/
#form{
    width: 70%;
    display: block;
    margin: auto;
}
#email, #password, #password2, #firstName{
    margin-bottom: 30px;
}

/*------Error------*/
#box-error{
    text-align: center;
    margin: 40px 0 0 0;
    color: #e44c65;
    font-weight: 600;
}

#button-signup, #button-login{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#switch{
    text-align: center;
}
#link-login, #link-signup{
    margin-left: 10px;
}

/* Errors input */
.empty{
    border-color: #e44c65!important;
}

/*------Responsiv------*/
@media screen and (max-width: 480px) {
    #form{
        width: 80%;
    }
    #button-signup, #button-login{
        padding: 0 20px;
    }
}