footer{
    margin-top: 150px;
}

/* Table products */
.productRow{
    height: 135px!important;
}
.bin-td{
    text-align: center;
}
.bin{
    font-size: 1.5rem;
    cursor: pointer;
}
.bin:hover{
    color: #e44c65;
}

/*------Delete Cart------*/
#delete-box{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
#delete-box i{
    color: #e44c65;
    margin-right: 10px;
}
#delete-cart{
    font-size: 0.7rem;
}

/* Prices */
#total-cart{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
}
#total-price{
    margin-left: 20px;
}
#tva{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 600;
}

/*------Buttons------*/
#cart-buttons{
    display: flex;
    justify-content: space-between;
}

/*------Empty------*/
.emptyCart{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 80px;
}
#import-dxf{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.hidden{
    visibility: hidden;
}

/*------Responsive------*/
@media screen and (max-width: 480px) {
    #delete-box{
        margin-bottom: 30px;
    }
    #delete-cart{
        font-size: 0.7rem;
        padding: 0 20px;
    }
    #total-cart{
        font-size: 1.4rem;
    }
    #tva{
        font-size: 0.9rem;
    }
    #cart-buttons input{
        font-size: 0.8rem;
        padding: 0 20px;
    }
    .emptyCart{
        font-size: 1.2rem;
    }
    #import-dxf{
        font-size: 0.8rem;
        padding: 0 20px;
    }
}
