#section-input-dxf{
    text-align: center;
}
#title-dxf{
    margin-bottom: 30px;
}
#form-dxf{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
#label{
    font-size: 12pt;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-name {
  font-size: 0.85rem;
  color: white;
}
#svg-box{
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
}
#svgContainer{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
#options-dxf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
#dimensions{
    font-size: 11.5pt;
    display: flex;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
#steel-options optgroup{
    background-color: black;
    font-weight: bold;
}
#quantity{
    width: 50px;
    background-color: black;
}
#price-box{
    display: flex;
    flex-direction: column;
}
#price{
  font-size: 11.5pt;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.on{
  opacity: 0.3;
  transition: 400ms;
}
.on2{
  opacity: 0.1;
  transition: 400ms;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Reidrect after add to Cart */
.add-cart-next-page{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  animation: apparition-addCart 300ms;
  transform: scale(1);
}
.add-cart-next-box{
  width: 50%;
  display: flex;
  margin: auto;
  margin-top: 25%;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  background: rgba(39, 40, 51, 0.965);
}

@keyframes apparition-addCart{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.add-cart-next-box p{
  color: white;
  font-size: 1.3rem;
}
#go-to-import{
  font-size: 0.8rem;
  margin-right: 10px;
}
#go-to-cart{
  font-size: 0.8rem;
  margin-left: 10px;
}



.box-visible{
  display: block;
  color: red;
}

.box-hidden{
  display: none;
}