#form-delivery-adress{
    width: 80%;
    display: block;
    margin: auto;
}
#form-delivery-adress input{
    margin-bottom: 20px;
}
#form-delivery-adress label{
    margin-bottom: 5px;
}
.full-row{
    display: flex;
    justify-content: space-between;
}
.half-row{
    width: 45%;
}

#select-box{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
}
#adress-option{
    width: 110px;
}
#button-adress{
    display: block;
    margin: auto;
    margin-top: 20px;
}
#cancel-box{
    width: 80%;
    display: block;
    margin: auto;
}
#cancel-button{
    font-size: 0.8rem;
    margin-top: 30px;
}