/* Adresses */
#adresses{
    display: flex;
    justify-content: space-around;
}
.adresses-box, .addBillingAdress, .addDeliveryAdress{
    max-width: 350px;
}
.addBillingAdress, .addDeliveryAdress{
    text-align: center;
    
}
#addBilling, #addDelivery{
    margin-top: 30px;
    font-size: 0.8rem;
    margin-bottom: 100px;
}
h3, h4, p{
    margin: 0;
}
h3{
    margin-bottom: 20px;
    text-align: center;
}
.adress-details{
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 3px #e44c65ad;
    color: white;
}
.name, .city, .lines{
    display: flex;
}
.marg{
    margin-right: 20px;
}

/* Buttons */
.buttons{
    display: flex;
    margin-top: 20px;
}
.buttons input{
    font-size: 0.7rem;
}
#delete-delivery-button, #delete-billing-button{
    color: #e44c65!important;
    box-shadow: inset 0 0 0 1px #e44c65;
}
#edit-delivery-button, #edit-billing-button{
    margin-right: 20px;
}
#back-box{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
#back-button{
    font-size: 0.8rem;
    display: block;
    margin: auto;
}

/* Confirmation Delete */
#confirmation-delete-da, #confirmation-delete-ba{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
#yes-da, #no-da, #yes-ba, #no-ba{
    font-size: 0.7rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

/*------Responsiv------*/
@media screen and (max-width: 900px) {
    #adresses{
        flex-direction: column;
        align-items: center;
    }
    #confirmation-delete-da, #confirmation-delete-ba{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #back-box{
        margin-top: 0px;
    }
}

@media screen and (max-width: 480px) {
    input{
        padding: 0 20px!important;
    }
}