#adresses{
    display: flex;
    justify-content: space-between;
}
.deliveryAdressDetails{
    width: 40%;
}
.name, .city, .lines{
    display: flex;
}
.marg{
    margin-right: 20px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
#back-box{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 50px;
}
#back-button{
    font-size: 0.8rem;
    display: block;
    margin: auto;
}