#form, #back-box{
    width: 70%;
    display: block;
    margin: auto;
}

#email, #password, #new-password, #firstName, #lastName{
    margin-bottom: 30px;
}
#button-update{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#back-button{
    font-size: 0.8rem;
}