/*------All------*/
p{
    margin: 0;
}
h3, #number-order, #date-order, #status-order, #subtotal, #shipping, #total-price{
    margin: 0;
}
#number-order, #date-order, #status-order, #subtotal, #shipping, #total-price{
    font-size: 1.3rem;
    color: #e44c65;
    font-weight: 500;
    margin-left: 10px;
}

/*------Infos Order------*/
#box-infos{
    margin-bottom: 50px;
}
#ref-infos, #date-infos, #status-infos{
    display: flex;
    align-items: center;
}
#invoice-button{
    font-size: 0.7rem;
    margin-top: 7px;
}

/*------Table------*/
.productRow{
    height: 135px!important;
}

/*------Prices------*/
#box-prices{
    margin-top: 30px;
}
#box-prices div{
    display: flex;
    align-items: center;
}

/*------Shipping------*/
#box-shipping{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#box-shipping>div{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #e44c65ad;
}
.div-ship{
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.div-ship h3{
    margin-bottom: 10px;
}
.infos-row{
    display: flex;
}
.marge{
    margin-right: 10px;
}
#back-to-orders{
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 0.8rem;
}

/*------Responsive------*/
@media screen and (max-width: 480px) {
    #invoice-button, #back-to-orders{
        padding: 0 20px;
    }
    #box-infos h3, #box-infos p, #box-prices h3, #box-prices p{
        font-size: 1.1rem;
    }
}