#prices{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
#prices h3{
    margin: 0;
    text-align: start;
}
#product-price, #delivery-price, #total-price{
    margin-left: 10px;
    color: #e44c65;
    font-weight: 500;
}

#cgv-box{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
#validate{
    display: block;
    margin: auto;
}
#details-title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}
#no-checked{
    color: #e44c65;
    text-align: center;
    font-weight: 600;
}
.hidden{
    display: none;
}
#section{
    margin-bottom: 50px;
}

.productRow{
    height: 135px!important;
}

/*------Responsive------*/
@media screen and (max-width: 480px) {
    #validate{
        padding: 0 20px;
    }
}


